<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="donnationForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="amount_given">Montant</label>
      <input type="text" id="amount_given" class="form-control" formControlName="amount_given">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="donnationForm.invalid">Envoyer</button>
    <p class="text-danger">{{ errorMessage }}</p>
  </form>
  <button class="btn btn-default" (click)="onBack()">Retour</button>
</div>
