.container-list-assoc{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.assoc-item{
  flex: 25%; /* explanation below */
  margin: 5px;
  height: 100px;
}
